/* 
section,
us,
li,
p {
  outline: auto;
}
 */

:root {
  --items: 4;
  --row-gap: 48px;
  --column-gap: 24px;
}

/* #region: normalize */

html {
  scroll-behavior: smooth;
}

body {
  /* position: relative; */
  color: #434455;
  background-color: #FFFFFF;
  /* background: var(--CLOUD, #ffffff); */
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Roboto', sans-serif;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* #endregion:normalize */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #region: base */
a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  /* width: 360px; */
  height: auto;
}


.section {
  padding-top: 188px;
  padding-bottom: 188px;
  /* padding: 188px 0; */
}


.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1158px;
}

/* #endregion: base */
.info {
  position: fixed;
  left: 0px;
  bottom: 4px;
  border: 1px solid;
  display: block;
  width: 100%;
}

.version {
  position: fixed;
  right: 4px;
  top: 4px;
  display: block;
  font-size: 9px;
  background-color: orange;
  padding: 2px 8px;
  z-index: 11111;
  border: 1px solid #404bbf;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.version:hover {
  transform: scale(1.2);
}

/* #region: header */
.header {
  top: -1;
  /* position: sticky; */
  position: fixed;
  width: 100%;


  z-index: 9999;
  background: var(--WHITE, #FFF);
  border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);

  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);

}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  height: 72px;
}

.header-nav {
  display: flex;
  align-items: center;
  /* gap: 40px; */
  /* margin: 0; */
}


.header-nav-items {
  display: flex;
  gap: 40px;
}

.header-nav-item {
  display: block;
  position: relative;

  font-size: 16px;
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 24px 0;
}

/* .main, */
.header-nav-item:hover,
.header-nav-item:focus {
  color: #404bbf;
}

.main {
  color: #404bbf;
}

.header-nav-item.main::after,
.header-nav-item:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  color: #404bbf;
  width: 100%;
}

/* #region:address-contacts */
.contacts-items {
  display: flex;
  gap: 40px;

  font-style: normal;
}

/* 
.contacts-items::before {
  content: "";
  margin-left: 120px;
}
*/
.address-link,
.contacts-item {
  /* display: block; */

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus,
.contacts-item:hover,
.contacts-item:focus {
  color: #404bbf;
  /* color: #fff000; */
}

/* #endregion: address-contacts */

/* #endregion: header */


/* #region: section-hero  */
/* url(../images/img-name.jpeg); */

.hero {
  margin: 0 auto;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2e2f42;
  background-size: cover;
}

.hero-header {
  color: var(--WHITE, #FFF);
  text-align: center;

  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.07;
  /* letter-spacing: 1.12px; */
  letter-spacing: 0.02em;
  /* margin: 0 auto; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  max-width: 496px;
}

.hero-button {
  display: block;
  cursor: pointer;
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  height: 56px;
  min-width: 169px;
  border: none;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;

  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404BBF;
}

/* #endregion: section-hero  */


/* section.#2: Benefits */
.benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits-items {
  display: flex;
  gap: 24px;
}


.benefits-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 112px;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8E8F99);
  background: var(--CLOUD, #F4F4FD);
  margin-bottom: 8px;

}

.benefits-icon {
  width: 64px;
  height: 64px;
  /* fill: #2E2F42; */
  box-sizing: border-box;
}

.social-links {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  gap: 24px;
}

.footer-social-links {
  gap: 16px;
}

.social-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: #4D5AE5;
  width: 40px;
  height: 40px;
}

/* flex-shrink: 0; */
/* fill: var(--IRIS, #4D5AE5); */


.social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-icon {
  width: 18px;
  height: 16px;
  fill: #F4F4FD;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31D0AA;
}


.benefits-item {
  /* width: calc((100% - 72px) / 4); */
  width: calc((100% - var(--column-gap) * (var(--items) - 1)) / var(--items));
}

.benefits-item-header {
  margin-bottom: 8px;
}

.benefits-item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* #endregion:benefits */


/* #region: section.#3:  Our Team */
.team {
  background-color: #F4F4FD;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-header {
  font-size: 36px;
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-items {
  display: flex;
  gap: 24px;
}

.team-item {
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);

  background-color: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
}

.team-item-info {
  text-align: center;
  padding: 32px 0;
}

.team-item-header {
  margin-bottom: 8px;

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.team-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* #endregion:section.#3: Our Team */

/* #region: section.#4: Portfolio */
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-header {
  font-size: 36px;
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-items {
  --items: 3;

  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  column-gap: 12px;
  row-gap: 48px;
}

.portfolio-item {
  /* width: calc((100% - 48px) / 3); */
  width: calc((100% - var(--column-gap) * (var(--items) - 1)) / var(--items));
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-img-overlay {
  transform: translateY(0);
}

.portfolio-img {
  position: relative;
  overflow: hidden;
}

.portfolio-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transition: transform 250ms ease-in-out; */

  font-size: 16px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #4d5ae5;
  padding: 40px 32px;
}




.portfolio-item-info {
  padding: 32px 16px;
  border: 1px solid #E7E9FC;
  border-top: none;
  /* margin-bottom: 8px; */
}

.portfolio-item-header {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}

.portfolio-item-text {
  font-size: 16px;
  font-weight: 400;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* #endregion:section.#4: Portfolio */


/* #region:footer */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
}

.footer-container {
  display: flex;
  align-items: baseline;
  /* gap: 120px; */
}

.footer-logo-box {
  margin-right: 120px
}

.footer-logo-link {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-span {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  color: var(--CLOUD, #F4F4FD);

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  /* font-style: normal; */
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.32px;
}

text {
  line-height: 1.5;
  color: var(--CLOUD, #F4F4FD);
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.social-media {
  margin-right: 80px;
}

.social-media-header {
  color: var(--WHITE, #FFF);

  /* Body Medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.02em;

  margin-bottom: 16px;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  font-family: Raleway, sans-serif;

  color: var(--IRIS, #4D5AE5);
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

}

.header-logo {
  margin-right: 76px;
}

/* #endregion: logo */

/* ------------------------------------------ */
/* #region:subscribe */
.subscribe {
  width: 453px;
}

.subscribe-header {
  color: var(--WHITE, #FFF);

  /* Body Medium */
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

/* .subscribe-form-label {} */

.subscribe-form-input[id="email"] {
  width: 264px;
  height: 40px;
  border: 1px solid #FFF;
  background-color: transparent;

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #FFF;
}

.subscribe-form-input::placeholder {
  columns: #fff;
}


.subscribe-form-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;

  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;

  cursor: pointer;

  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;
}

.subscribe-form-svg {
  margin-left: 16px;
}

.subscribe-form-submit:hover,
.subscribe-form-submit:focus {
  fill: yellow;
}

/*
.email {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.email input[type="text"] {
  width: 264px;
  border-radius: 4px;
  border: 1px solid var(--WHITE, #FFF);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: inherit;


  color: var(--WHITE, #FFF);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.48px;

}

.email [placeholder] {
  color: var(--WHITE, #FFF);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.48px;
  padding: 6px 16px;
}

.email input[type="submit"] {
  width: 165px;
  height: 40px;
  padding: 8px 24px;
  background-color: #2e2f42;

  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  background: var(--IRIS, #4D5AE5);
}
*/
/* #endregion:subscribe */
/* ------------------------------------------ */


/* ------------------------------------------ */
/* #region:modal */
.backdrop {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  /* Для модального вікна в класі заданий стиль transform: translate(-50%, -50%) scale(1); */
  transform: translate(-50%, -50%) scale(1);
  /* для центрування елемента по вертикалі та горизонталі на веб-сторінці
   Для модального вікна в класі заданий стиль width: 408px; */
  width: 408px;

  /* для визначення ширини елемента Для модального вікна в класі заданий стиль min-height: 584px; */
  min-height: 584px;

  /* для визначення мінімальної висоти елемента на веб-сторінці Для модального вікна в класі заданий стиль background: #fcfcfc; */
  background: #fcfcfc;

  /* що встановлює колір фону елемента Для модального вікна в класі заданий стиль*/
  /* для визначення тіні для елемента */
  box-shadow:
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  /*Для модального вікна в класі заданий стиль  */
  /* для встановлення радіусу кутів елемента   */
  border-radius: 4px;

  /*Для модального вікна в класі заданий стиль  */
  /* що дозволяє задавати анімаційний ефект для зміни значень властивостей стилю  */
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 72px 24px 24px;
}


.modal-window-close {
  position: absolute;
  /* що встановлює позиції елемента відносно його батьківського елемента У кнопки в класі задано стиль*/
  top: 24px;
  /* для визначення відстані від верхнього краю батьківського елементу до верхнього краю кнопки У кнопки в класі задано стиль */
  right: 24px;
  /* для визначення відстані від правого краю батьківського елементу до правого краю кнопки У кнопки в класі задано стиль */
  width: 24px;
  /* для визначення ширини елемента У кнопки в класі задано стиль*/
  height: 24px;
  /* для визначення висоти елемента У кнопки в класі задано стиль*/
  border-radius: 50%;
  /* для встановлення радіусу кутів елемента У кнопки в класі задано стиль*/
  display: flex;
  /* для подальшої можливості зміни розташування дочірнього елемента У кнопки в класі задано стиль*/
  align-items: center;
  /* для вирівнювання дочірнього елемента по вертикалі У кнопки в класі задано стиль*/
  justify-content: center;
  /* для вирівнювання дочірнього елемента по горизонталі У кнопки в класі задано стиль*/
  background-color: #e7e9fc;
  /* для визначення кольору фону кнопки У кнопки в класі задано стиль*/
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* що дозволяє задати стиль, */
  /* ширину та колір межі навколо елемента У кнопки в класі задано стиль*/
  padding: 0;
  /* для обнулення дефолтних відступів, */
  /* які елемент має від браузера У кнопки в класі задано стиль*/
  cursor: pointer;
  /* для визначення стилю курсору У кнопки в класі задано стиль*/
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-close:hover,
.modal-window-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-window-close-svg {
  /* width: 8px; */
  /* height: 8px; */


  /* для обнулення значення бордеру при кліку на кнопку Всередині кнопки зберігається іконка зроблена тегом <svg>Для тега svg прописаний атрибут width, */
  /* що містить значення 8 Для тега svg прописаний атрибут height, */
  /* що містить значення 8 Для тега svg задані класи, */
  /* що містять мінімум 3 символи, */
  /* всі літери латиницею, */
  /* всі літери маленькі, */
  /* та можуть містити дефіс чи нижнє підкреслення Для svg в класі заданий стиль*/
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* для плавної зміни кольору */

.modal-window-close:hover .modal-window-close-svg,
.modal-window-close:focus .modal-window-close-svg {
  fill: #ffffff;
}


.modal-window-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 16px;
}

/* modal-form */

.modal-form-input-box {
  margin-bottom: 8px;
}

.modal-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-form-div {
  position: relative
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button {

  /*Для кнопки в класі заданий стиль*/
  display: block;
  /*для можливості центрувати кнопку через властивість margin*/
  /* Для кнопки у класі доданий стиль*/
  min-width: 169px;
  /*для визначення мінімальної ширини кнопки*/
  /* Для кнопки у класі доданий стиль*/
  height: 56px;
  /* для визначення висоти кнопки */
  /*Для кнопки в класі заданий стиль*/
  font-family: "Roboto",
    sans-serif;
  /*для визначення сімейства шрифту*/
  /* У кнопки в класі задано стиль*/
  font-size: 16px;
  /*для визначення розміру шрифту*/
  /* У кнопки в класі задано стиль*/
  font-weight: 500;
  /* для визначення жирності шрифту */
  /*У кнопки в класі задано стиль*/
  line-height: 1.5;
  /*для визначення простору між рядками*/
  /* У кнопки в класі задано стиль*/
  letter-spacing: 0.04em;
  /* для визначення відстані між літерами*/
  /* У кнопки в класі задано стиль*/
  color: #ffffff;
  /* для визначення кольору тексту в кнопці*/
  /* У кнопки в класі задано стиль*/
  cursor: pointer;
  /* для визначення стилю курсору*/
  /* У кнопки в класі задано стиль*/
  background-color: #4D5AE5;
  /* для визначення кольору фону*/
  /* Для кнопки у класі доданий стиль*/
  border: none;
  /*
  для вимкнення стандартного оформлення кнопки*/
  /* Для кнопки в класі заданий стиль*/
  border-radius: 4px;
  /*  для визначення радіусу закруглення кутів елемента*/
  /* У кнопки в класі задано стиль */
  font-size: 16px;
  /* для визначення розміру шрифту*/
  /* У кнопки в класі задано стиль*/
  font-weight: 500;
  /* для визначення жирності шрифту*/
  /* У кнопки в класі задано стиль*/
  line-height: 1.5;
  /*для визначення простору між рядками*/
  /* У кнопки в класі задано стиль*/
  letter-spacing: 0.04em;
  /* для визначення відстані між літерами*/
  /* У кнопки в класі задано стиль*/
  color: #ffffff;
  /* для визначення кольору тексту в кнопці*/
  /* У кнопки в класі задано стиль*/
  cursor: pointer;
  /*для визначення стилю курсору*/
  /* Для кнопки в класі заданий стиль*/
  border-radius: 4px;
  /*
  для визначення радіусу закруглення кутів елемента*/
  /* Для кнопки в класі заданий стиль*/
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*
  що дозволяє задавати анімаційний ефект для зміни значень властивостей стилю*/
  margin: auto;
}

/*
.modal-form-label-user {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-form-div-user {
  position: relative
}

.modal-form-input-user {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input-name:hover,
.modal-form-input-name:focus {
  border-color: #4D5AE5;
}
*/
/*  */
/* .modal-form-input-svg */
.modal-form-svg {
  width: 18px;
  height: 24px;
  position: absolute;

  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:hover+svg,
.modal-form-input:focus+svg {
  fill: #4D5AE5;
}


/* modal-form-textarea-box */
.modal-form-textarea-box {
  margin-bottom: 16px;
}

.modal-form-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea:hover,
.modal-form-textarea:focus,
.modal-form-input:hover,
.modal-form-input:focus {
  border-color: #4D5AE5;
}


.modal-form-checkbox-box {
  margin-bottom: 24px;
}

/* .modal-form-checkbox-input {} */

.modal-form-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form-checkbox-label-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.modal-form-checkbox-link {
  color: #4d5ae5;
}

/*
 .modal-form-checkbox-svg {
  width: 10px;
  height: 8px;
}
 */
input[type="checkbox"]:checked+label>span {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}


/*
.modal-form-checkbox-input:checked .modal-form-checkbox-label-span {
  background-color: #404bbf;
  fill: #F4F4FD;
  border: none;
}
*/
/* 
.modal-form-checkbox-input:checked {
  border: none;
  fill: #404bbf;
}
*/

/* та можуть містити дефіс чи нижнє підкреслення Для input у класі заданий стиль width: 100%; */
/* що встановлює ширину елемента, */
/* яка займає повну ширину його батьківського елемента Для input у класі заданий стиль height: 40px Для input у класі заданий стиль border: 1px solid rgba(46, 47, 66, 0.4); */
/* що дозволяє задати стиль, */
/* ширину та колір межі навколо елемента Для input у класі заданий стиль border-radius: 4px; */
/* для визначення радіусу закруглення кутів елемента Для input у класі заданий стиль background-color: transparent; */
/* що встановлює колір фону елемента Для input у класі заданий стиль padding-left: 38px; */
/* для налаштування внутрішніх відступів для контенту Для input у класі заданий стиль outline: transparent; */
/* для встановлення стилю контуру для елемента Для input у класі заданий стиль transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
/* для плавної зміни кольору рамки При фокусі на input, */
/* у класі заданий стиль border-color: #4D5AE5; */
/* для зміни кольору рамки при кліку на input Усередині div другим дочірнім елементом є svg Для тега svg прописаний атрибут width, */
/* що містить значення 18 Для тега svg прописаний атрибут height, */
/* що містить значення 24 Для тега svg задані класи, */
/* що містять мінімум 3 символи, */
/* всі літери латиницею, */
/* всі літери маленькі, */
/* та можуть містити дефіс чи нижнє підкреслення Для svg у класі заданий стиль position: absolute; */
/*  */
/*  */
/*  */
/* Для svg у класі заданий стиль left: 16px для встановлення відстані між лівим краєм елемента і лівим краєм його батьківського елемента Для svg у класі заданий стиль top: 50%; */
/* для зміщення елемента до верхньої межі контейнера Для svg у класі заданий стиль transform: translateY(-50%); */
/* для центрування елемента по вертикалі Для svg у класі заданий стиль transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); */
/* що дозволяє задавати анімаційний ефект для зміни значень властивостей стилю При фокусі на input, */
/* у svg у класі заданий стиль fill: #4D5AE5; */
/* для зміни кольору іконки при кліку на input (для цього потрібно прибрати властивість fill у спрайті для іконки) Усередині <svg>знаходиться тег <use>Для тега <use>прописаний атрибут href Атрибут href містить значення, */
/* яке починається з ./images та закінчується на .svg, */
/* але наприкінці додається якір # з ідентифікатором символу у спрайті Другим дочірнім елементом форми є div для якого використовують ті самі класи, */
/* що і для div у першому пункті У div першим дочірнім елементом є label label має текстовий контент Phone Для label використовують ті самі класи, */
/* що і для label у першому div Після label наступним йде div, */
/* який є контейнером для input та іконки Для div використовують ті самі класи, */
/* що і для div у першому div Усередині div першим дочірнім елементом є input, */
/* який має такі самі класи і ті самі атрибути як і в input який знаходиться в першому div Усередині div другим дочірнім елементом є svg, */
/* що має такі самі класи, */
/* що і svg у першому div Для тега svg прописаний атрибут width, */
/* що містить значення 18 Для тега svg прописаний атрибут height, */
/* що містить значення 24 Усередині <svg>знаходиться тег <use>Для тега <use>прописаний атрибут href Атрибут href містить значення, */
/* яке починається з ./images та закінчується на .svg, */
/* але наприкінці додається якір # з ідентифікатором символу у спрайті Третім дочірнім елементом форми є div для якого використовують ті самі класи, */
/* що і для div у першому пункті У div першим дочірнім елементом є label label має текстовий контент Email Для label використовують ті самі класи, */
/* що і для label у першому div Після label наступним йде div, */
/* який є контейнером для input та іконки Для div використовують ті самі класи, */
/* що і для div у першому div Усередині div першим дочірнім елементом є input, */
/* який має такі самі класи і ті самі атрибути як і в input який знаходиться в першому div Усередині div другим дочірнім елементом є svg, */
/* що має такі самі класи, */
/* що і svg у першому div Для тега svg прописаний атрибут width, */
/* що містить значення 18 Для тега svg прописаний атрибут height, */
/* що містить значення 24 Усередині <svg>знаходиться тег <use>Для тега <use>прописаний атрибут href Атрибут href містить значення, */
/* яке починається з ./images та закінчується на .svg, */
/* але наприкінці додається якір # з ідентифікатором символу у спрайті Четвертим дочірнім елементом форми є div Для div задані класи, */
/* що мають мінімум 3 символи, */
/* всі літери латиницею, */
/* всі літери маленькі, */
/* та можуть містити дефіс чи нижнє підкреслення Для div у класі заданий стиль margin-bottom: 16px для визначення відступів між div та наступним елементом Першим дочірнім елементом div являється label label має текстовий контент Comment Для label додано атрибут for зі значенням user-comment для того, */
/* щоб пов'язати label з textarea */
/*  */
/*  */
/*  */
/* Для label перевикористовуються класи з аналогічного тега в першому div форми Другим дочірнім елементом div являється textarea Для textarea додано атрибут id="user-comment" для того, */
/* щоб пов'язати textarea з label */
/*  */
/*  */
/*  */
/* Для textarea додано атрибут name="user-comment" щоб ідентифікувати поле, */
/* коли дані будуть надіслані на сервер Для textarea додано атрибут placeholder="Text input" для встановлення текстової підказки для поля введення Для textarea задані класи, */
/* що мають мінімум 3 символи, */
/* всі літери латиницею, */
/* всі літери маленькі, */
/* та можуть містити дефіс чи нижнє підкреслення Для textarea в класі заданий стиль width: 100%; */
/* що встановлює ширину елемента, */
/* яка займає повну ширину його батьківського елемента Для textarea в класі заданий стиль height: 120px; */
/* для визначення висоти елемента Для textarea в класі заданий стиль font-size: 12px; */
/* для визначення розміру тексту Для textarea в класі заданий стиль line-height: 1.17; */
/* для визначення простору між рядками Для textarea в класі заданий стиль letter-spacing: 0.04em; */
/* для визначення відстані між літерами Для textarea в класі заданий стиль color: rgba(46, 47, 66, 0.4); */
/* для визначення кольору тексту Для textarea в класі заданий стиль border: 1px solid rgba(46, 47, 66, 0.4) що дозволяє задати стиль, */
/* ширину та колір межі навколо елемента Для textarea в класі заданий стиль border-radius: 4px; */
/* для визначення радіусу закруглення кутів елемента Для textarea в класі заданий стиль background-color: transparent; */
/* що встановлює колір фону елемента Для textarea в класі заданий стиль padding: 8px 16px; */
/* для налаштування внутрішніх відступів для контенту Для textarea в класі заданий стиль outline: transparent; */
/* для встановлення стилю контуру для елемента Для textarea в класі заданий стиль resize: none; */
/* для заборони зміни розміру елемента Для textarea в класі заданий стиль transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
/* що дозволяє задавати анімаційний ефект для зміни значень властивостей стилю При фокусі на textarea, */
/* в класі заданий стиль border-color: #4D5AE5; */
/* для зміни кольору рамки при кліку на input П'ятим дочірнім елементом форми є div, що є контейнером для чекбоксу з label */
/*  */
/*  */
/*  */
/* Для div задані класи, */
/* що мають мінімум 3 символи, */
/* всі літери латиницею, */
/* всі літери маленькі, */
/* та можуть містити дефіс чи нижнє підкреслення Для div у класі заданий стиль margin-bottom: 24px; */
/* для визначення відступів між параграфом та наступним елементом Першим дочірнім елементом div є input Для input додано атрибут id="user-privacy" для того, */
/* щоб пов'язати input з label */
/*  */
/*  */
/*  */
/* Для input додано атрибут type="checkbox" для вказівки типу поля вводу Для input додано атрибут value="true" для встановлення початкового значення елемента форми Для input додано атрибут name="user-privacy" щоб ідентифікувати поле, */
/* коли дані будуть надіслані на сервер Для input задані класи, */
/* що мають мінімум 3 символи, */
/* всі літери латиницею, */
/* всі літери маленькі, */
/* та можуть містити дефіс чи нижнє підкреслення Для input заданий клас visually-hidden для приховання дефолтного чекбоксу Другим дочірнім елементом div є label label містить текстовий контент I accept the terms and conditions of the Для label додано атрибут for="user-privacy" щоб пов'язати label з input */
/*  */
/*  */
/*  */
/* Для label задані класи, */
/* що мають мінімум 3 символи, */
/* всі літери латиницею, */
/* всі літери маленькі, */
/* та можуть містити дефіс чи нижнє підкреслення Для label у класі заданий стиль font-size: 12px; */
/* для визначення розміру тексту Для label у класі заданий стиль line-height: 1.17; */
/* для визначення простору між рядками Для label у класі заданий стиль letter-spacing: 0.04em; */
/* для визначення відстані між літерами Для label у класі заданий стиль color: в який записана css змінна зі значенням #8e8f99; */
/* для визначення кольору тексту Усередині label додається span, */
/* який має класи, */
/* що мають мінімум 3 символи, */
/* всі літери латиницею, */
/* всі літери маленькі, */
/* та можуть містити дефіс чи нижнє підкреслення Для span у класі заданий стиль width: 16px; */
/* що встановлює ширину елемента Для span в класі заданий стиль height: 16px; */
/* що встановлює висоту елемента Для span у класі заданий стиль border: 1px solid rgba(46, 47, 66, 0.4); */
/* що дозволяє задати стиль, */
/* ширину та колір межі навколо елемента Для span у класі заданий стиль border-radius: 2px; */
/* для визначення радіусу закруглення кутів елемента Для span у класі заданий стиль transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), */
/* border 250ms cubic-bezier(0.4, 0, 0.2, 1), */
/* fill 250ms cubic-bezier(0.4, 0, 0.2, 1); */
/*  */
/*  */
/*  */
/* Для span у класі заданий стиль display: inline-flex; */
/* для подальшої реалізації позиціонування елементу Для span у класі заданий стиль align-items: center; */
/* для вирівнювання іконки по вертикалі Для span у класі заданий стиль justify-content: center; */
/* для вирівнювання іконки по горизонталі Для span у класі заданий стиль fill: transparent; */
/* для задання значення кольору іконки У span зберігається іконка зроблена тегом <svg>Для тега svg прописаний атрибут width, */
/* що містить значення 10 Для тега svg прописаний атрибут height, */
/* що містить значення 8 Для тега svg задані класи, */
/* що містять мінімум 3 символи, */
/* всі літери латиницею, */
/* всі літери маленькі, */
/* та можуть містити дефіс чи нижнє підкреслення Усередині <svg>знаходиться тег <use>Для тега <use>прописаний атрибут href Атрибут href містить значення, */
/* яке починається з ./images та закінчується на .svg, */
/* але наприкінці додається якір # з ідентифікатором символу у спрайті Коли input у стані checked, */
/* для тега span у класі задано стиль background-color: в який записана css змінна зі значенням #404bbf; */
/* для зазначення фону Коли input у стані checked, */
/* для тега span у класі задано стиль border: none; */
/* для вимкнення стандартного оформлення кнопки Коли input у стані checked, */
/* для тега span у класі задано стиль fill: у який записана css змінна зі значенням #F4F4FD; */
/* для зазначення кольору іконки Усередині label додається посилання яке має класи, */
/* що мають мінімум 3 символи, */
/* всі літери латиницею, */
/* всі літери маленькі, */
/* та можуть містити дефіс чи нижнє підкреслення Посилання містить текстовий контент Privacy Policy Для посилання в класі заданий стиль color: у який записана css змінна зі значенням #4d5ae5; */
/* для визначення кольору тексту Шостим дочірнім елементом форми є кнопка Для кнопки задані класи, */
/* що містять мінімум 3 символи, */
/* всі літери латиницею, */
/* всі літери маленькі, */
/* та можуть містити дефіс чи нижнє підкреслення Для кнопки в класі заданий стиль display: block; */
/* для можливості центрувати кнопку через властивість margin Для кнопки у класі доданий стиль min-width: 169px для визначення мінімальної ширини кнопки Для кнопки у класі доданий стиль height: 56px для визначення висоти кнопки Для кнопки в класі заданий стиль font-family: "Roboto", */
/* sans-serif для визначення сімейства шрифту У кнопки в класі задано стиль font-size: 16px для визначення розміру шрифту У кнопки в класі задано стиль font-weight: 500 для визначення жирності шрифту У кнопки в класі задано стиль line-height: 1.5 для визначення простору між рядками У кнопки в класі задано стиль letter-spacing: 0.04em для визначення відстані між літерами У кнопки в класі задано стиль color: #ffffff для визначення кольору тексту в кнопці У кнопки в класі задано стиль cursor: pointer для визначення стилю курсору У кнопки в класі задано стиль background-color: #4D5AE5 для визначення кольору фону Для кнопки у класі доданий стиль border: none; */
/* для вимкнення стандартного оформлення кнопки Для кнопки в класі заданий стиль border-radius: 4px; */
/* для визначення радіусу закруглення кутів елемента У кнопки в класі задано стиль font-size: 16px для визначення розміру шрифту У кнопки в класі задано стиль font-weight: 500 для визначення жирності шрифту У кнопки в класі задано стиль line-height: 1.5 для визначення простору між рядками У кнопки в класі задано стиль letter-spacing: 0.04em для визначення відстані між літерами У кнопки в класі задано стиль color: #ffffff для визначення кольору тексту в кнопці У кнопки в класі задано стиль cursor: pointer для визначення стилю курсору Для кнопки в класі заданий стиль border-radius: 4px; */
/* для визначення радіусу закруглення кутів елемента Для кнопки в класі заданий стиль transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
/* що дозволяє задавати анімаційний ефект для зміни значень властивостей стилю*/
/* #endregion:modal */
/* ------------------------------------------ */